/* CSS for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e6e6e6;
  }
  
  h1 {
    text-align: center;
    margin: 30px 0;
  }

.homepage{
    padding: 25px;
}
    
  
